.a {
    height: 100px;
    width: 250px;
    border-radius: 10px;
    background-color: black;
    color: white;
    font-size: 40px;
    cursor: pointer;
}

.b {
    font-weight: bold;
    font-size: 60px;
    margin-left: 35%;
    color: red;
}

h1 {
    font-weight: bold;
    font-size: 80px;
    margin-left: 35%;
}

.grid-container {
    padding: 5em;
    display: grid;
    grid-gap: 3em;
    grid-template-columns: repeat(3, 3fr);
    height: 80px;
    width: 80px;
}

.grid {
    padding: 70px;
    border-radius: 30px;
    box-shadow: 10px 10px 40px darkblue;
}